#aboutMeHeader {
    text-align: center;
    padding-top: 3.75rem;
    font-weight: bold;
    font-size: 4.25rem;
 }

.headerLineShort {
    height: 0.0625rem;
    background: #DDD;
    margin: 1.25rem auto;
    position: relative;
    width: 50%;
}

.centerText {
    text-align: center;
}

#aboutJumbotron {
    height: 46.25rem;
    background-color: white;
    box-shadow: 0 0 0.625rem 0 #636363;
}

#aboutJumbotronContent {
    padding-top: 2.5rem;
    float:left;
    max-width: 35.625rem;
}

.aboutHeaderParagraphText {
    font-size: 1.125rem;
    line-height: 1.625rem;
}